{% extends 'layout.html' %}

{% block content %}
  <h2>Log</h2>
  <div id='content' class='log-page'>
    <a class='clear-button' href='{{ url_for('clearLog') }}'>Clear Log And Redis</a>
    {% for line in data %}
      <div class='log-statement'>
        <p class='message'>{{ line['message'] }}
        {% if line['links'] is not none %}
            {% for link in line['links'] %}
            <a href='{{ link['href'] }}' target='_blank'>{{ link['text'] }}</a>
            {% endfor %}
        {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
