{% extends 'layout.html' %}
{% block content %}
<div id='content' class='poll-create-page'>
  <form action=''>
    <div class='error' style='display:none'>
      <span></span>
    </div>
    <fieldset>
      <legend>Create A New Poll</legend>
      Poll Name:
        <br><input name='name'><br>
      Choices: <br>
            <input name='choice[]' class='choice' index='0'>
        <br><input name='choice[]' class='choice' index='1'>
        <br><input name='choice[]' class='choice' index='2'>
        <a href='#' id='add-button' class='button'>Add</a><br>
      Close: <br>
        <input name='close'><br>
      Your Email: <br>
        <input name='initiator'><br>
      Participant Emails: <br>
        <textarea name='participants' cols='60' rows='10'></textarea><br>
      Poll Type: <br>
        <select name='type'>
          <option value='plurality'>Plurality Vote</option>
          <option value='majority'>Majority Vote</option>
          <option value='pref-plurality'>Preferential Plurality Vote</option>
        </select><br>
      <input type='submit' value='submit'>
    </fieldset>
  </form>
</div>

<script>
  require(['pollCreate'], function(pollCreate) {
    // TODO: Anything here?
  });
</script>
{% endblock %}
