{% extends 'layout.html' %}
{% block content %}
<div id='content' class='poll-create-page'>
  <form method='post' action=''>
    <fieldset>
      <legend>Create A New Poll</legend>
      Poll Name: <input name='name'><br>
      Choices: <input name='choices'><br>
      Close: <input name='close'><br>
      Your Email: <input name='initiator_email'><br>
      Participant Emails: <input name='participant_emails'><br>
      Poll Type: <select name='poll_type'>
        <option value='plurality'>Plurality Vote</option>
        <option value='majority'>Majority Vote</option>
        <option value='pref-plurality'>Preferential Plurality Vote</option>
      </select>
        <br>
      <input type='submit' value='submit' >
    </fieldset>
  </form>
</div>

<script>
  require(['pollCreate'], function(pollCreate) {
    console.log('pollCreate.js has been required in pollcreate.html');
  });
</script>
{% endblock %}
