{% extends 'layout.html' %}

{% block content %}
<h2>{{ data['poll']['name'] }}: Admin Page</h2>
<div class='content admin_page'>
  <form id='admin_add' method='post' action='{{data['poll_key']}}/add?key={{data['poll']['initiator']}}'>
    <fieldset>
      <legend>Add Participants</legend>
      New Particpant Emails: <input type='text'><br>
      <input type='submit' value='Add'>
    </fieldset>
  </form>
  <form id='admin_close' method='post' action='{{data['poll_key']}}/close?key={{data['poll']['initiator']}}'>
    <fieldset>
      <legend>Close Poll Now</legend>
      <p>Poll Ends: {{ data['poll']['close'] }}</p>
      <input type='submit' value='Close'>
    </fieldset>
  </form>
</div>
{% endblock %}
